@import "bloks/top-nav";
@import "bloks/filtr-cotalog";
@import "bloks/vars";
@import "bloks/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  .main {
    flex-grow: 1;
  }
}
// шрифт
button,
input {
  font-family: inherit;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}
h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
}
// убираем стили ссылок

.link-stayl-none {
  text-decoration: none;
  color: transparent;
}
// убираем стили кнопок

.link-stayl-button {
  background-color: transparent;
  border: none;
}

// убираем текст
.text-none {
  position: absolute;
  margin-left: -99999999px;
  width: 1px;
  height: 1px;
}
// контейнер
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;

  @media (max-width: $tablet) {
    max-width: 768px;
  }
  @media (max-width: $mobail) {
    max-width: 360px;
  }
}
.meny-right-cart {
  &:hover .header-burger {
    transform: scaleX(1);
  }
}
.header-burger {
  z-index: 3;

  right: 0px;
  top: 76px;
  position: absolute;
  background-color: #ffffff;
  width: 232px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.21);
  transform: scaleX(0);
  padding-bottom: 137px;

  &-category {
    list-style: none;
  }
  &-text {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-top: 37px;
    padding-left: 34px;
    padding-bottom: 24px;
  }
  &-group {
    color: $coler-main;
    padding-left: 24px;
    padding-bottom: 12px;
  }
  &-section {
    padding-bottom: 12px;
  }
  &-group-link {
    color: #6f6e6e;
    padding-left: 54px;
    padding-bottom: 12px;
  }
}
.header {
  height: 75px;
  background: #222222;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;

  &-meny {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.meny-left,
.meny-right {
  display: flex;
  align-items: center;
}
.fill-meny {
  fill: #fff;
}
.meny-right-meny:hover .fill-meny {
  fill: $coler-main;
  transition: 0.3s;
}
.fill-user {
  margin-left: 25px;
  fill: #fff;
}
.meny-right-user {
  @media (max-width: $mobail) {
    display: none;
  }
}
.meny-right-user:hover .fill-user {
  fill: $coler-main;
  transition: 0.3s;
}

.fill-basket {
  margin-left: 40px;
  fill: #fff;
}
.card__close-menu {
  top: 16px;
  right: 17px;
  position: absolute;
  border: none;
  background-color: transparent;
  color: #575757;
  cursor: pointer;
}

.meny-right-basket:hover .fill-basket {
  fill: $coler-main;
  transition: 0.3s;
}
.meny-right-basket {
  position: relative;
  display: flex;
  @media (max-width: $mobail) {
    display: none;
  }
}
.basket-text {
  position: absolute;
  color: #ffffff;
  background-color: $coler-main;
  left: 63px;
  bottom: 19px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
}

.meny-left-logo {
  margin-right: 40px;
}

.top {
  background: #f1e4e6;
  margin-bottom: 65px;
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
  @media (max-width: $mobail) {
    margin-bottom: 64px;
  }

  &:hover .top-line {
    transform: scale(1.2) translate(318px, 0px) rotate(90deg);
    transition: 1s;
    @media (max-width: $tablet) {
      transform: none;
    }
  }
  &:hover .text-900 {
    color: $coler-main;
    transition: 1s;
  }
  &:hover .text-700 {
    color: $coler-main;
    transition: 1s;
  }
  &:hover .top-text-ping {
    color: #000000;
    transition: 1s;
  }
  &-container {
    height: 764px;
    background-image: url(../img/top_foto.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // прижатие картинки к низу
    background-position-y: bottom;
    @media (max-width: $tablet) {
      height: 368px;
      background-size: contain;
      background-position-x: 94px;
      @media (max-width: $mobail) {
        background-image: none;
        justify-content: center;
        height: auto;
        padding-top: 148px;
        padding-bottom: 148px;
      }
    }
  }
  &-img {
    max-width: 50%;
  }
  &-container-text {
    margin-right: 90px;
    @media (max-width: $tablet) {
      margin-right: 0px;
      align-items: center;
      display: flex;
    }
  }
  &-line {
    margin-right: 16px;
    @media (max-width: $tablet) {
      height: 100%;
    }
  }
  &-blok-text {
    display: inline-block;
  }
  &-text-ping {
    color: $coler-main;
  }
}
.text-900 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57px;
  color: black;
  @media (max-width: $tablet) {
    font-size: 44px;
    line-height: 53px;
    @media (max-width: $mobail) {
      font-size: 38px;
      line-height: 45px;
    }
  }
}
.text-700 {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  color: #222222;
  letter-spacing: -1px;
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 29px;
    @media (max-width: $mobail) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
.centr {
  margin-bottom: 96px;
  @media (max-width: $tablet) {
    margin-bottom: 155px;
    @media (max-width: $mobail) {
      margin-bottom: 64px;
    }
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    @media (max-width: $tablet) {
      justify-content: space-between;
    }
  }
  &-bottom {
    max-width: 100%;
    margin-top: 30px;
  }
  &-foto {
    max-width: 100%;
  }
  &-blok {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    width: 360px;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    @media (max-width: $tablet) {
      width: 232px;
      height: 167px;
      padding: 20px;
      @media (max-width: $mobail) {
        width: 100%;
        height: 247px;
      }
    }
  }
}
.blok1 {
  background: linear-gradient(
      to top,
      rgba(33, 22, 22, 0.7),
      rgba(33, 22, 22, 0.7)
    ),
    url(../img/dlok1.png) no-repeat 0px 0px;
  background-size: cover;
}
.blok2 {
  background: linear-gradient(
      to top,
      rgba(33, 22, 22, 0.7),
      rgba(33, 22, 22, 0.7)
    ),
    url(../img/blok2.png) no-repeat 0px 0px;
  background-size: cover;
}
.blok3 {
  background: linear-gradient(
      to top,
      rgba(33, 22, 22, 0.7),
      rgba(33, 22, 22, 0.7)
    ),
    url(../img/blok3.png) no-repeat 0px 0px;
  background-size: cover;
}
.blok4 {
  background: linear-gradient(
      to top,
      rgba(33, 22, 22, 0.7),
      rgba(33, 22, 22, 0.7)
    ),
    url(../img/blok4.png) no-repeat 0px 0px;
  background-size: cover;
  width: 100%;
  max-height: 180px;
  box-sizing: border-box;
  @media (max-width: $mobail) {
    max-height: 111px;
  }
}
.centr-blok-text {
  color: #ffffff;
  text-align: center;
  max-width: 100%;
  transition: 0.6s;
  &:hover {
    transform: scale(1.5);
    @media (max-width: $tablet) {
      transform: scale(1.2);
    }
  }
  &-top {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  &-botton {
    color: $coler-main;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
}
.link-stayl-none-blok4 {
  width: 100%;
}
.link-stayl-none-blok {
  @media (max-width: $mobail) {
    width: 100%;
  }
}
.goods-home {
  text-align: center;
  margin-bottom: 95px;
  &-h3-link {
    padding-top: 25px;
  }
  @media (max-width: $tablet) {
    margin-bottom: 65px;
  }
  @media (max-width: $mobail) {
    margin-bottom: 96px;
  }
  .home-blok3 {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &-blok-text {
    align-items: center;
  }

  &-blok {
    text-align: left;
  }
  &-kart {
    background: #f8f8f8;
    max-width: 360px;
    display: flex;
    flex-direction: column;
  }
  &-h3 {
    padding-left: 18px;
  }
  &-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9f9f9f;
    margin-top: 6px;
    margin-bottom: 48px;
  }
}
.home-cart-hover {
  position: relative;
}
.goods-home-kart:hover .card__overlay {
  opacity: 1;
  transform: translateY(0%);
}
.card__overlay {
  background: rgba(58, 56, 56, 0.86);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.2s;
  transform: translateY(10%) rotate(5deg) scale(0.5);
}
.card__btn {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 13px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  gap: 11px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer;

  &::before {
    content: url(../img/basket.svg);
  }
}
.goods-3bloka {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @media (max-width: $tablet) {
    gap: 46px;
  }
}
.home1-foto {
  display: block;
  width: 100%;
}
.text-centr {
  text-align: center;
}

.goods-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
  margin-top: 13px;
  padding-left: 17px;
  padding-right: 28px;
}
.goods-price {
  color: $coler-main;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 18px;
}
.home2-foto {
  display: block;
}
.background-goods {
  background: #f7e4e2;
  max-width: 360px;
  height: 420px;
  margin-bottom: 25px;
  text-align: center;
}
.goods-button {
  margin-top: 48px;
  border: 1px solid #f26376;
  color: #f26376;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 39px;
  display: inline-block;
  box-shadow: 5px 5px 5px 0px #b4b4b4;
  @media (max-width: $tablet) {
    margin-top: 32px;
  }
  @media (max-width: $mobail) {
    margin-top: 41px;
  }
  &:hover {
    background-color: $coler-main;
    border-radius: 1px;
    border-color: #ff6a6a;
    color: #fff;
    transition: 0.2s;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0 1px #c2c0c0;
    transition: 0.1s;
  }
}

.offer {
  background: #222224;

  &-blok {
    list-style: none;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width: $tablet) {
      flex-direction: column;
      padding-top: 48px;
      padding-bottom: 64px;
    }

    &--content {
      max-width: 360px;
      height: 133px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: end;
    }
  }
  &-h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #fbfbfb;
    margin-bottom: 16px;
  }
  &-p {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #fbfbfb;
  }
}
.offer1 {
  background-image: url(../img/offer1.svg);
}
.offer2 {
  background-image: url(../img/offer2.svg);
}
.offer3 {
  background-image: url(../img/offer3.svg);
}
.offer1,
.offer2,
.offer3 {
  color: $coler-main;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 1px;
}

.subscription {
  background-image: url(../img/fon-subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &-comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 448px;
    justify-content: space-around;
    @media (max-width: $tablet) {
      padding-top: 53px;
      padding-bottom: 140px;
    }
    @media (max-width: $mobail) {
      padding-bottom: 110px;
    }
  }
  &-form {
    text-align: center;
    color: #222224;
    max-width: 557px;
    &--subscribe {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      color: #222224;
    }
    &--for {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #222224;
    }
  }
}
.subscribe-form--class {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.comment {
  text-align: center;
  max-width: 360px;
  height: 225px;
  &-sub {
    margin-bottom: 20px;
  }
  &-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222224;

    &--italic {
      font-style: italic;
    }
  }
}

.subscribe-field {
  padding: 22px 10px 22px 20px;
  background-color: #e1e1e1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #000000;
  border: none;
  outline: none;
  max-width: 256px;

  &::placeholder {
    color: #222224;
  }
}
.subscribe-booton {
  padding: 20px;
  background-color: $coler-main;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
  &:hover {
    background-color: #e71632;
    transition: 0.3s;
  }
}
.footer {
  max-width: 100%;
  background: #222224;
  height: 80px;
  @media (max-width: $mobail) {
    height: auto;
  }
  &-text {
    @media (max-width: $mobail) {
      order: 1;
      padding-bottom: 9px;
    }
  }
  &-blok {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobail) {
      justify-content: center;
    }
  }
  &-text--p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fbfbfb;
  }
}
.social {
  list-style: none;
  display: flex;
  gap: 8px;
  @media (max-width: $mobail) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &-link {
    width: 32px;
    height: 32px;
    color: #000000;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    &:hover {
      color: #ffffff;
      background-color: $coler-main;
      transition: 0.3s;
    }
  }
}
.video-promo {
  margin-bottom: 25px;
  width: 100%;
}
.pagination {
  max-width: 284px;
  height: 44px;
  outline: 1px solid #e5e5e5;
  margin-top: 60px;
  margin-bottom: 109px;
  @media (max-width: $tablet) {
    margin-top: 40px;
    margin-bottom: 63px;
  }

  &-list {
    display: flex;
    padding: 15px 0px;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
  }
  &-icon {
    fill: #000000;
  }
  &-link {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #c4c4c4;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      color: $coler-main;
    }
    &--activ {
      color: $coler-main;
    }
    &--separator {
      margin: 0 -20px;
    }
  }
}
// карточка товара
.product-slider {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @media (max-width: $mobail) {
  }
  &-img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 40px;
    @media (max-width: $mobail) {
      padding-bottom: 0px;
    }
    @media (max-width: $mobail) {
      position: relative;
    }
  }
  &--button-left {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    border: none;
    @media (max-width: $mobail) {
      position: absolute;
      z-index: 1;
    }
  }
  &--button-riht {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    border: none;
    @media (max-width: $mobail) {
      position: absolute;
      right: 0px;
      z-index: 1;
    }
  }
}
.product-button:hover {
  transform: scale(1.5);
  transition: font-weight 250ms;
}
.product-specification {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border: 1px solid #eaeaea;
  padding-bottom: 65px;
  margin-bottom: calc(130px - 64px);

  transform: translateY(-64px);
  @media (max-width: $tablet) {
    transform: none;
    border: none;
  }
  @media (max-width: $mobail) {
    margin-bottom: 0px;
  }

  &-link {
    color: $coler-main;
    display: flex;
    align-items: center;
    fill: $coler-main;
    &:hover {
      color: #ffffff;
      fill: #ffffff;
    }
  }
  &-colection {
    padding-top: 65px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: $coler-main;
  }
  &-line {
    margin: 12px;
  }
  &-name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #4d4d4d;
    margin-bottom: 48px;
  }
  &-description {
    font-weight: 300;
    color: #5e5e5e;
    font-size: 14px;
    line-height: 17px;
    @media (max-width: $mobail) {
      line-height: 20px;
    }
  }
  &-blok {
    display: inline-block;
    max-width: 555px;
    margin-bottom: 32px;
    text-align: center;
  }
  &-noun {
    fill: #eaeaea;
    font-size: 1.01px;
    margin-bottom: 65px;
    @media (max-width: $mobail) {
      display: none;
    }
    &:hover {
      fill: #ef5b70;
    }
  }
  &-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    color: #ef5b70;
    margin-bottom: 65px;
    @media (max-width: $mobail) {
      margin-bottom: 81px;
    }
  }
  &-btn {
    margin-top: 49px;
    margin-bottom: 2px;
    border: 1px solid #ef5b70;
    color: #ef5b70;
    width: 211px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0px #b4b4b4;
    fill: #ef5b70;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: $mobail) {
      margin-top: 64px;
    }

    &:hover {
      background-color: $coler-main;
      border-radius: 1px;
      border-color: #ef5b70;
      color: #ffffff;
      background-color: $coler-main;
      transition: 0.2s;
    }
    &:active {
      transform: translateY(5px);
      box-shadow: 0 1px #c2c0c0;
      transition: 0.1s;
    }

    &:hover {
      fill: #ffffff;
    }
  }
  &-cart {
    margin-right: 23px;
  }
}

.choice-container {
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: $mobail) {
    margin-bottom: 96px;
  }
}
.choice__name {
  margin-bottom: 62px;
  font-weight: 400;
  color: #222222;
  font-size: 24px;
  line-height: 29px;
  @media (max-width: $mobail) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
    margin-right: 53px;
  }
}
.choice-card {
  max-width: 652px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 55px;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  @media (max-width: $tablet) {
    max-width: 734px;
    height: 306px;
    padding-right: 0px;
  }
  @media (max-width: $mobail) {
    max-width: 358px;
    height: 188px;
    margin-bottom: 30px;
  }
  &__blok {
    margin-top: 28px;
    margin-left: 33px;
    margin-right: 97px;
    @media (max-width: $tablet) {
      margin-right: 179px;
    }
    @media (max-width: $mobail) {
      margin-top: 13px;
      margin-left: 17px;
      margin-bottom: 37px;
      margin-right: 0px;
    }
  }
  &__quantity {
    @include button-style;
    background-color: #ffff;
    width: 44px;
    height: 24px;
    text-align: center;
    color: #656565;
    margin-left: 24px;
    padding-left: 8px;
    @media (max-width: $mobail) {
      max-width: 30px;
      height: 15px;
      font-size: 10px;
      line-height: 12px;
      margin-left: 15px;
      padding-left: 0px;
    }
  }
  &__item {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #656565;
    @media (max-width: $mobail) {
      margin-bottom: 4px;

      font-size: 14px;
      line-height: 17px;
    }
    &_price {
      color: $coler-main;
    }
  }
}
.card__close {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
  background-color: transparent;
  color: #575757;
  cursor: pointer;
  @media (max-width: $mobail) {
    right: 12px;
    top: 17px;
  }
}

.shipping-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: $tablet) {
    flex: none;
  }
}

.choice-button-blok {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  @media (max-width: $mobail) {
    padding-top: 0px;
  }
}

.choice-btn {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffff;
  @include button-style;
  padding: 17px 40px;
  box-shadow: 2px 2px 2px 0px #b4b4b4;
  display: inline-block;
  @media (max-width: $mobail) {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 9px;
    max-width: 175px;
    text-align: center;
  }
  &:hover {
    background-color: $coler-main;
    border-radius: 1px;
    border-color: #ff6a6a;
    color: #fff;
    transition: 0.2s;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0 0px #c2c0c0;
    transition: 0.1s;
  }
}
.choice-form {
  margin-left: 128px;
  max-width: 360px;
  @media (max-width: $tablet) {
    margin-left: 0px;
    display: flex;
    gap: 15px;
    align-items: end;
    margin-top: 64px;
  }
  @media (max-width: $tablet) {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.shipping-form {
  gap: 20px;
  &__field {
    box-sizing: border-box;
    padding: 12px;
    max-width: 360px;
    @include button-style;
  }
}
.shipping-form .shipping-form__button {
  cursor: pointer;
  margin-top: 3px;
  @include button-style;
  background-color: #ffff;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  max-width: 102px;
  &:hover {
    background-color: $coler-main;
    color: #ffffff;
    transition: 0.3s;
  }
}
.choice-order {
  margin-top: 57px;
  max-width: 360px;
  height: 240px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
  @media (max-width: $tablet) {
    margin-top: 0px;
    height: 214px;
    flex: none;
    margin-bottom: 15px;
  }
  @media (max-width: $tablet) {
    margin-bottom: 0px;
  }
  &-btn {
    text-align: center;
    margin: 0px 44px 0px 44px;
    padding: 16px 43px;
    border: none;
    background-color: $coler-main;
    color: #ffffff;
    max-width: 275px;
    &:hover {
      @include button-style;
      background-color: #ffffff;
      color: $coler-main;
      transition: 0.3s;
    }
  }
}
.choice-order-text {
  text-align: end;
  padding-right: 37px;
  color: #4a4a4a;
  &-min {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 12px;
  }
  &-big {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  &-price {
    color: $coler-main;
  }
}

.choice-centr {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-line {
    margin-top: 21px;
    margin-bottom: 17px;
    fill: rgba(226, 226, 226, 1);
  }
}
.registration-blok {
  display: flex;
  margin-top: 65px;
  margin-bottom: 96px;
  gap: 128px;
  @media (max-width: $tablet) {
    gap: 20px;
  }
  @media (max-width: $mobail) {
    flex-wrap: wrap;
    gap: 40px;
  }
}
.choice-card__img {
  @media (max-width: $mobail) {
    max-height: 188px;
  }
}
fieldset {
  border: none;
  width: 360px;
  @media (max-width: $tablet) {
    width: 100%;
  }
}
.regform-name {
  color: #222222;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.regform-field {
  margin-bottom: 20px;
  padding-top: 13px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px;
  width: 100%;
  &::placeholder {
    color: #b1b1b1;
  }
}
.reg-radio {
  margin-right: 10px;
}
.reg-radio-box {
  display: flex;
  margin-bottom: 33px;
  margin-top: 11px;
}
.reg-radio-centr {
  display: flex;
}
.fofm-radio {
  color: #000000;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-right: 20px;
}
.reg-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  max-width: 360px;
  margin-bottom: 39px;
}
.reg-btn {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  background-color: $coler-main;
  color: #ffffff;
  fill: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border: 1px solid $coler-main;
  cursor: pointer;

  &-svg {
    margin-left: 20px;
    margin-right: 20px;
  }
  &:hover {
    background-color: #ffffff;
    color: $coler-main;
    border: 1px solid $coler-main;
    fill: $coler-main;
  }
}
.advantage-heiding {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 19px;
  }
}
.advantage-text {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 19px;
  }
}
.advantage-list {
  list-style: none;
}
.advantage-li {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  display: flex;
  @media (max-width: $tablet) {
    font-size: 16px;
    line-height: 19px;
  }

  &::before {
    content: url(../img/reg-tab.svg);
    margin-right: 23px;
  }
}
