.top-nav {
  background: linear-gradient(-45deg, #f8f3f4, #ffc6dc9f, #f8f8f8, #ffffffef);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &-centr {
    display: flex;
    align-items: center;
    height: 148px;
    justify-content: space-between;
    @media (max-width: 815px) {
      justify-content: center;
      flex-direction: column;
      justify-content: start;
    }
  }
  &-heiding {
    color: #f16d7f;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    @media (max-width: 815px) {
      padding-top: 24px;
      padding-bottom: 32px;
    }
  }
  &-meny {
    display: flex;
    gap: 20px;
  }
  &-list {
    list-style: none;
    &::before {
      content: "/";
      margin-right: 10px;
    }
    &:first-child::before {
      display: none;
    }
  }
  &-link {
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    &[href]:hover {
      text-decoration: underline;
      color: #f16d7f;
      transition: 0.3s;
    }
  }
  &-link-current {
    font-weight: bold;
    color: #f16d7f;
  }
}
